<span class="login100-form-title p-b-43" style="color: gray;">
    Login to continue
</span>


<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" >
    <input class="input100" type="text" name="email" [(ngModel)]=data>
        <span *ngIf="data=='velu@123'">welcome</span> 
        <span *ngIf="data!='velu@123' && data !=''"  >wrong</span>  
    <span class="focus-input100"></span>
    <span class="label-input100">Email</span>
</div>


<div class="wrap-input100 validate-input" data-validate="Password is required">
    <input class="input100" type="password" name="pass">
    <span class="focus-input100"></span>
    <span class="label-input100">Password</span>
</div>